* {
    margin: 0;
}

.section1 {
    height: 100vh;
    background-image: url("./0d4ebf1b29b16c6345c1ae6cf6b4a65d58d2c72c.png");
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
}

.div1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: rgba(0, 0, 0, 0.5);
}

.div2 p {
    font-weight: bold;
}

.div3 {
    display: flex;
    gap: 20px;
}

.div3 p {
    cursor: pointer;
}

.div4 {
    display: flex;
    gap: 15px;
}

.hero-text {
    position: absolute;
    bottom: 120px;
    left: 60px;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-text button {
    padding: 12px 25px;
    background: green;
    border: none;
    color: white;
    cursor: pointer;
}

.p1 {
    width: 622px;
    height: 87px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: 0px;
    color: #D2D2D2;
}

.img2 {
    position: relative;
    left: 1200px;
    top: 100px;
}


.icon {
    display: none;
}

.div9 {
    padding: 40px 60px;
    background: #555;
}

.div9 h1 {
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
}

.div9 p {
    color: #d2d2d2;
    max-width: 500px;
}

.section2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 40px 60px;
    background: #555;
}

.div5 {
    background: #464545;
    padding: 40px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.div5 img {
    width: 90%;
    height: 280px;
    object-fit: contain;
    margin-bottom: 15px;
}

.div5 h3 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}

.p2 {
    color: #dcdcdc;
    font-size: 14px;
    flex-grow: 1;
}

.div5 button {
    background: #2dbd3a;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 15px;
    width: 200px;
    height: 46px;
    border-radius: 2px;

}

.img3 {
    display: none;
}
.section3 {
  width: 95%;
  padding: 20px ;
  font-family: Arial, sans-serif;
}

.div6 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 50px;
  color: #4a4a4a;
}

.div7 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  margin-bottom: 40px;
}

.div7_left h2 {
  color: #18a63a;
  margin-bottom: 20px;
}

.div7_left p {
  color: #777;
  line-height: 1.6;
  margin-bottom: 15px;
}

.div7_right img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.div8 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: -90px;
}

.div8 img {
  width: 100%;
  height: 220px;

}


@media (max-width: 510px) {

    .section1 {
        height: 100vh;
        padding: 0 15px;
    }

    .div1 {
        padding: 15px;
    }

    .div3,
    .div4 {
        display: none;
    }

    .div2 img {
        width: 160px;
    }

    .hero-text {
        position: static;
        margin-top: 60px;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 26px;
        line-height: 1.2;
    }

    .p1 {
        width: 100%;
        height: auto;
        font-size: 14px;
        margin: 15px 0;
    }

    .hero-text button {
        width: 100%;
        padding: 14px;
        font-size: 16px;
    }

    .img2 {
        position: fixed;
        width: 55px;
        right: 15px;
        bottom: 20px;
        left: auto;
        top: auto;
    }

    .section2 {
        display: flex;
        overflow-x: auto;
        gap: 16px;

    }

    .div5 {
        min-width: 85%;

    }

    .img3 {
        display: block;
        margin-top: 10px;
        margin-left: 150px;
    }

}